@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@font-face {
  font-family: Gilroy-Thin;
  src: url("../../fonts/gilroy/Gilroy-Thin.ttf");
}

@font-face {
  font-family: Gilroy-Regular;
  src: url("../../fonts/gilroy/Gilroy-Regular.ttf");
}

@font-face {
  font-family: Gilroy-Medium;
  src: url("../../fonts/gilroy/Gilroy-Medium.ttf");
}

@font-face {
  font-family: Gilroy-Light;
  src: url("../../fonts/gilroy/Gilroy-Light.ttf");
}

@font-face {
  font-family: Gilroy-Bold;
  src: url("../../fonts/gilroy/Gilroy-Bold.ttf");
}

@font-face {
  font-family: Gilroy-Black;
  src: url("../../fonts/gilroy/Gilroy-Black.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* text-transform: capitalize; */
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: Gilroy-Regular;
  scroll-behavior: smooth;
}

li {
  font-size: 1.6rem;
  text-align: center;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

ul .ul-div-justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul .ul-div-justify li {
  padding: 2rem;
}

header {
  /* background-color: $bgColor; */
  background-image: url("../../images/header3.jpg");
  width: 100%;
  height: 140vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

header .ul-div-justify .logo-website {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
}

header .ul-div-justify .shopping-icon i {
  position: relative;
}

header .ul-div-justify .shopping-icon i .counter {
  background-color: #362b23;
  color: white;
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
  font-size: small;
  position: absolute;
  top: -1.4rem;
  right: -1.6rem;
}

header h1 {
  font-size: 7rem;
  text-align: center;
  margin-top: 2.5rem;
  font-weight: 800;
  letter-spacing: -5px;
  color: #362b23;
  font-family: sans-serif;
}

header .paragraph-right {
  position: absolute;
  -webkit-box-pack: last baseline;
      -ms-flex-pack: last baseline;
          justify-content: last baseline;
  z-index: 10;
  bottom: 45%;
  width: 32%;
  padding-left: 4rem;
  line-height: 25px;
  font-weight: bold;
  /* Style the submit button */
}

header .paragraph-right p {
  font-size: 1.5rem;
}

header .paragraph-right .paragraph-2 {
  margin-top: 3rem;
}

header .paragraph-right .form-search {
  margin-top: 3rem;
  background-color: white;
  position: relative;
  width: 80%;
}

header .paragraph-right .form-search input[type="text"] {
  padding: 1.6rem;
  font-size: 17px;
  border: 0px;
  float: left;
  width: 100%;
  background: #f1f1f1;
  outline: none;
  /* position: relative; */
}

header .paragraph-right .form-search button {
  position: absolute;
  right: 1rem;
  /* bottom: 0.5rem; */
  margin-top: 0.6rem;
  float: left;
  width: 12%;
  padding: 1rem;
  background: #362b23;
  color: white;
  font-size: 17px;
  border: 0px;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

header .paragraph-right .form-search button:hover {
  background: #362b23;
}

header .sec-socialMedia {
  position: absolute;
  bottom: 15rem;
  right: 6rem;
  z-index: 10;
}

header .sec-socialMedia i {
  font-size: 2.5rem;
  margin-top: 3rem;
}

header .sec-socialMedia i:hover {
  cursor: pointer;
}

header .view-btn {
  position: absolute;
  bottom: 34%;
  z-index: 10;
  margin-left: 4rem;
  padding: 1.5rem 5rem;
  border: none;
  background-color: #362b23;
  -webkit-box-shadow: 0px 20px 30px -10px #57452a;
          box-shadow: 0px 20px 30px -10px #57452a;
  /* #26394d */
  color: white;
  border: 2.5px solid #362b23;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .view-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #362b23;
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px 0px transparent;
}

header h2,
header .positive {
  position: absolute;
  z-index: 10;
}

header h2 {
  right: 20%;
  bottom: 48%;
}

header .positive {
  right: 37%;
  color: white;
  font-size: 2rem;
  background-color: #b85830;
  padding: 1.8rem 2.4rem;
  opacity: 0.7;
  border-radius: 60%;
  bottom: 45%;
}

header .border-line {
  border: 1px solid #362b23;
  width: 8%;
  z-index: 15;
  position: absolute;
  bottom: 48.5%;
  right: 28%;
}

header .p-skin {
  position: absolute;
  z-index: 10;
  bottom: 40%;
  font-size: 1.5rem;
  right: 8.5%;
  width: 18%;
  line-height: 2.2rem;
}

img {
  position: relative;
}

.sec-lenders {
  background-color: #fef6f0;
  padding: 4rem 0;
}

.sec-lenders h1 {
  text-align: center;
  font-size: 2.8rem;
}

.sec-lenders ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
  /* width: 80%;
    display: flex;
    justify-content: space-around; */
}

.sec-lenders .resize-logo {
  width: 140px;
  margin-right: 6rem;
}

.sec-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8rem 0rem;
}

.about-us {
  width: 600px;
}

.about-us h1 {
  font-size: 7rem;
  color: #362b23;
}

.about-us p {
  font-size: 1.8rem;
  line-height: 3rem;
  padding-right: 15rem;
}

.about-us .view-btn {
  margin-top: 4rem;
  padding: 1.3rem 5rem;
  background-color: #362b23;
  color: white;
  border: 2.5px solid #362b23;
  -webkit-box-shadow: 0px 20px 30px -10px #57452a;
          box-shadow: 0px 20px 30px -10px #57452a;
  /* #26394d */
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about-us .view-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #362b23;
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px 0px transparent;
}

.about-us-2 {
  width: 600px;
}

.about-us-2 p {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 3rem;
}

.about-us-2 .Read-btn {
  color: black;
  background-color: white;
  margin-top: 2.5rem;
  padding: 1.3rem 4.5rem;
  /* border: 2.5px solid $brownDarkColor; */
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about-us-2 .Read-btn:hover {
  cursor: pointer;
  background-color: #362b23;
  color: white;
  -webkit-box-shadow: 0px 20px 30px -10px #57452a;
          box-shadow: 0px 20px 30px -10px #57452a;
  /* #26394d */
  /* box-shadow: 0px 0px 0px 0px transparent; */
}

.products-section {
  margin: 2rem 0rem;
}

.products-section .title-products {
  font-size: 8rem;
  text-align: center;
}

.products-section .p-products {
  font-size: 2rem;
  text-align: center;
}

.sec-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* background-color: aqua; */
  /* display: grid;
  grid-template-columns: 600px 600px; */
  /* justify-items: center; */
  margin: 8rem 0rem;
}

.sec-products .sec-1 {
  width: 600px;
}

.sec-products .sec-1 h1 {
  font-size: 5rem;
  margin: 1.5rem 0rem;
}

.sec-products .sec-1 p {
  font-size: 2rem;
  line-height: 3rem;
  width: 90%;
}

.sec-products .sec-1 .Read-btn {
  color: black;
  background-color: white;
  margin-top: 4rem;
  padding: 1.3rem 4rem;
  font-family: Gilroy-Bold;
  font-size: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sec-products .sec-1 .Read-btn:hover {
  cursor: pointer;
  background-color: #362b23;
  color: white;
  -webkit-box-shadow: 0px 20px 30px -10px #57452a;
          box-shadow: 0px 20px 30px -10px #57452a;
  /* #26394d */
  /* box-shadow: 0px 0px 0px 0px transparent; */
}

.sec-products .sec-1 .view-btn {
  margin-top: 4rem;
  padding: 1.6rem 5.3rem;
  background-color: #362b23;
  color: white;
  margin-right: 5rem;
  -webkit-box-shadow: 0px 20px 30px -10px #57452a;
          box-shadow: 0px 20px 30px -10px #57452a;
  /* #26394d */
  border: 2.5px solid #362b23;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sec-products .sec-1 .view-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #362b23;
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px 0px transparent;
}

.sec-products .sec-1 .num-percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 3rem;
}

.sec-products .sec-1 .num-percent .sec-num {
  margin-right: 6rem;
}

.sec-products .sec-1 .num-percent .num-title {
  font-size: 3rem;
  color: #218297;
  font-family: Gilroy-Bold;
}

.sec-products .sec-1 .num-percent .hr {
  width: 50%;
  border-top: 3px solid #362b23;
}

.sec-products .sec-1 .num-percent .num-paragraph {
  font-size: 1.5rem;
}

.sec-products .about-us-right {
  /* background-color: green; */
  width: 600px;
}

.sec-products .about-us-right h1 {
  font-size: 5rem;
  margin: 1.5rem 0rem;
}

.sec-products .about-us-right p {
  font-size: 2rem;
  line-height: 3rem;
  padding-right: 0rem;
  width: 90%;
}

.sec-products .about-us-right .Read-btn {
  color: black;
  background-color: white;
  margin-top: 4rem;
  padding: 1.3rem 4rem;
  font-family: Gilroy-Bold;
  font-size: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sec-products .about-us-right .Read-btn:hover {
  cursor: pointer;
  background-color: #362b23;
  color: white;
  -webkit-box-shadow: 0px 20px 30px -10px #57452a;
          box-shadow: 0px 20px 30px -10px #57452a;
  /* #26394d */
  /* box-shadow: 0px 0px 0px 0px transparent; */
}

.sec-products .about-us-right .view-btn {
  margin-top: 4rem;
  padding: 1.6rem 5.3rem;
  background-color: #362b23;
  color: white;
  margin-right: 5rem;
  -webkit-box-shadow: 0px 20px 30px -10px #57452a;
          box-shadow: 0px 20px 30px -10px #57452a;
  /* #26394d */
  border: 2.5px solid #362b23;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sec-products .about-us-right .view-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #362b23;
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px 0px transparent;
}

.sec-products .about-us-right .num-percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 3rem;
}

.sec-products .about-us-right .num-percent .sec-num {
  margin-right: 6rem;
}

.sec-products .about-us-right .num-percent .num-title {
  font-size: 3rem;
  color: #218297;
  font-family: Gilroy-Bold;
}

.sec-products .about-us-right .num-percent .hr {
  width: 50%;
  border-top: 3px solid #362b23;
}

.sec-products .about-us-right .num-percent .num-paragraph {
  font-size: 1.5rem;
  margin-top: 0rem;
}

.sec-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fefbf7;
  padding: 4rem 0;
  text-align: center;
}

.sec-count .sec-div-num {
  margin: 0rem 5rem;
}

.sec-count .sec-div-num h1 {
  font-family: Gilroy-Bold;
  color: #362b23;
  font-size: 4rem;
}

.sec-count .sec-span-border {
  background-color: #362b23;
  width: 3px;
  height: 10rem;
}

.sec-count h1 {
  font-size: 4.5rem;
}

.sec-count p {
  font-size: 1.6rem;
  margin-top: 1.5rem;
}

.sec-provide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 8rem 0;
}

.sec-provide .bg-img {
  width: 500px;
  height: 596px;
  z-index: 10;
  background-color: #edd9cb;
  position: relative;
  margin-right: 10rem;
}

.sec-provide .bg-img img {
  z-index: 20;
  position: absolute;
  right: -4rem;
  top: -4rem;
}

.sec-provide .sec-1 {
  width: 50%;
  /* margin-right: -5rem; */
}

.sec-provide .sec-1 h1 {
  font-size: 5rem;
  font-weight: 100;
  margin-top: 8rem;
  /* margin-left: 10rem; */
}

.sec-provide .sec-1 p {
  font-size: 2rem;
  /* margin-left: 10rem; */
  line-height: 3rem;
  /* padding-right: 15rem; */
  width: 80%;
  margin-top: 4rem;
}

.sec-provide .sec-1 .Read-btn {
  color: black;
  background-color: white;
  margin-top: 4rem;
  padding: 2rem 4rem;
}

.sec-provide .sec-1 .view-btn {
  margin-top: 4rem;
  padding: 1.3rem 4rem;
  background-color: #362b23;
  color: white;
  margin-right: 5rem;
  -webkit-box-shadow: 0px 20px 30px -10px #57452a;
          box-shadow: 0px 20px 30px -10px #57452a;
  /* #26394d */
  border: 2.5px solid #362b23;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sec-provide .sec-1 .view-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #362b23;
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px 0px transparent;
}

.sec-provide .sec-1 .num-percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /*  width: 50%; */
  margin-top: 3rem;
}

.sec-provide .sec-1 .num-percent .sec-num {
  margin-right: 6rem;
}

.sec-provide .sec-1 .num-percent .num-title {
  font-size: 3rem;
  color: #2b555e;
  font-weight: bold;
}

.sec-provide .sec-1 .num-percent .hr {
  width: 30%;
}

.sec-provide .sec-1 .num-percent .num-paragraph {
  font-size: 1.5rem;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fef6f0;
  padding: 8rem 0;
  margin: 2rem 0rem;
}

.products .title-products {
  font-size: 6rem;
  text-align: center;
  width: 55%;
  text-align: center;
}

.products .p-products {
  font-size: 2rem;
  text-align: center;
  width: 45%;
  margin-top: 2rem;
}

.sec-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 10rem;
  margin-top: -8rem;
}

.sec-icon .arrow-icon {
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 1rem;
}

.sec-icon .arrow-icon i {
  font-size: 2rem;
  padding: 1.2rem;
}

.sec-comment {
  background-color: #fef6f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.sec-comment .comment-box {
  width: 25%;
  margin: 0rem 3rem;
  background-color: white;
  padding: 5rem 4rem;
}

.sec-comment .comment-box i {
  color: #ff0000;
  font-size: 1.4rem;
}

.sec-comment .comment-box p {
  font-size: 1.5rem;
  margin-top: 2rem;
  line-height: 2.5rem;
}

.sec-comment .comment-box .comment-box-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.sec-comment .comment-box .comment-box-profile img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.sec-comment .comment-box .comment-box-profile .sec-profile {
  margin-top: 1rem;
  margin-right: 4rem;
}

.sec-comment .comment-box .comment-box-profile .sec-profile p {
  margin-top: -0.1rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0rem 4rem 0rem;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer section .footer-div-wilding {
  width: 20%;
}

footer section .footer-div-wilding h1 {
  font-size: 3rem;
}

footer section .footer-div-wilding p {
  font-size: 2.2rem;
  line-height: 3rem;
  margin-top: 2rem;
}

footer section .footer-div-wilding .footer-div-wilding-socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5rem;
}

footer section .footer-div-wilding .footer-div-wilding-socialMedia .footer-div-wilding-socialMedia-div {
  background-color: #362b23;
  border-radius: 50%;
  padding: 1rem 1.1rem;
  margin-right: 1.5rem;
}

footer section .footer-div-wilding .footer-div-wilding-socialMedia .footer-div-wilding-socialMedia-div i {
  font-size: 2rem;
  color: white;
}

footer section .footer-div-wilding .footer-div-wilding-socialMedia .facebook {
  padding: 1rem 1.4rem;
}

footer section .footer-div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer section .footer-div ul .footer-div-title {
  font-size: 3rem;
}

footer section .footer-div ul li {
  font-size: 2rem;
  margin: 0.7rem 0rem;
}

.after-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.after-footer div {
  border-bottom: 1px solid black;
  width: 85%;
}

.copyright-section {
  text-align: center;
}

.copyright-section p {
  font-size: 1.8rem;
  padding: 3rem 0rem;
}
/*# sourceMappingURL=style.css.map */