.sec-about-us {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 8rem 0rem;
}

.about-us {
  width: 50%;
  margin-left: 12rem;
  h1 {
    font-size: 7rem;
    color: $brownDarkColor;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.8rem;
    /* margin-left: 10rem; */
    line-height: 3rem;
    padding-right: 15rem;
  }
  .view-btn {
    margin-top: 4rem;
    padding: 1.5rem 4rem;
    background-color: $brownDarkColor;
    color: white;
    /* margin-left: 10rem; */
  }
}
.about-us-2 {
  width: 50%;

  p {
    margin-top: 2rem;
    font-size: 1.8rem;
    padding-right: 14rem;
    line-height: 3rem;
  }
  .Read-btn {
    color: black;
    background-color: white;
    margin-top: 3rem;
    padding: 1.5rem 4rem;
  }
}
