header {
  background-color: $bgColor;
  .ul-div-justify {
    .logo-website {
      font-family: "Raleway", sans-serif;
      font-size: 2.5rem;
    }
    .shopping-icon {
      i {
        position: relative;
        .counter {
          background-color: $brownDarkColor;
          color: white;
          border-radius: 50%;
          padding: 0.3rem 0.6rem;
          font-size: small;
          position: absolute;
          top: -1.4rem;
          right: -1.6rem;
        }
      }
    }
  }
  h1 {
    font-size: 7rem;
    text-align: center;
    margin-top: 5rem;
    font-weight: 800;
    letter-spacing: -5px;
    color: $brownDarkColor;
    font-family: sans-serif;
  }
  .paragraph-right {
    position: absolute;
    justify-content: last baseline;
    z-index: 10;
    bottom: 8rem;
    width: 32%;
    padding-left: 4rem;
    line-height: 25px;
    font-weight: bold;
    p {
      font-size: 1.5rem;
    }
    .paragraph-2 {
      margin-top: 3rem;
    }
    form {
      margin-top: 3rem;
    }
    .form-search input[type="text"] {
      padding: 10px;
      font-size: 17px;
      border: 0px;
      float: left;
      width: 70%;
      background: #f1f1f1;
      outline: none;
      position: relative;
    }
    /* Style the submit button */
    .form-search button {
      position: absolute;
      right: 12.5rem;
      bottom: 0.5rem;
      float: left;
      width: 8%;
      padding: 5px;
      background: $brownDarkColor;
      color: white;
      font-size: 17px;
      border: 0px;
      border-left: none; /* Prevent double borders */
      cursor: pointer;
      &:hover {
        background: $brownDarkColor;
      }
    }
  }
  .sec-socialMedia {
    position: absolute;
    bottom: -8rem;
    right: 5rem;
    z-index: 10;
  }
  .view-btn {
    position: absolute;
    bottom: 0rem;
    z-index: 10;
    margin-left: 4rem;
    padding: 1.5rem 5rem;
    border: none;
    background-color: $brownDarkColor;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }

  h2,
  .positive {
    position: absolute;
    z-index: 10;
  }
  h2 {
    right: 20%;
    bottom: 19%;
  }
  .positive {
    right: 37%;
    color: white;
    font-size: 2rem;
    background-color: $brownLightColor;
    padding: 1.8rem 2.4rem;
    opacity: 0.7;
    border-radius: 60%;
    bottom: 15.5%;
  }
  .border-line {
    border: 1px solid $brownDarkColor;
    width: 8%;
    z-index: 15;
    position: absolute;
    bottom: 20%;
    right: 28%;
  }
  .p-skin {
    position: absolute;
    z-index: 10;
    bottom: 10%;
    font-size: 1.5rem;
    right: 8.5%;
    width: 18%;
    line-height: 2.2rem;
  }
}
img {
  position: relative;
}
