header {
  /* background-color: $bgColor; */
  background-image: url("../../images/header3.jpg");
  width: 100%;
  height: 140vh;
  background-position: center;
  background-size: cover;
  position: relative;
  .ul-div-justify {
    .logo-website {
      font-family: "Raleway", sans-serif;
      font-size: 2.5rem;
    }
    .shopping-icon {
      i {
        position: relative;
        .counter {
          background-color: $brownDarkColor;
          color: white;
          border-radius: 50%;
          padding: 0.3rem 0.6rem;
          font-size: small;
          position: absolute;
          top: -1.4rem;
          right: -1.6rem;
        }
      }
    }
  }
  h1 {
    font-size: 7rem;
    text-align: center;
    margin-top: 2.5rem;
    font-weight: 800;
    letter-spacing: -5px;
    color: $brownDarkColor;
    font-family: sans-serif;
  }
  .paragraph-right {
    position: absolute;
    justify-content: last baseline;
    z-index: 10;
    bottom: 45%;
    width: 32%;
    padding-left: 4rem;
    line-height: 25px;
    font-weight: bold;
    p {
      font-size: 1.5rem;
    }
    .paragraph-2 {
      margin-top: 3rem;
    }
    .form-search {
      margin-top: 3rem;
      background-color: white;
      position: relative;
      width: 80%;
    }
    .form-search input[type="text"] {
      padding: 1.6rem;
      font-size: 17px;
      border: 0px;
      float: left;
      width: 100%;
      background: #f1f1f1;
      outline: none;
      /* position: relative; */
    }
    /* Style the submit button */
    .form-search button {
      position: absolute;
      right: 1rem;
      /* bottom: 0.5rem; */
      margin-top: 0.6rem;
      float: left;
      width: 12%;
      padding: 1rem;
      background: $brownDarkColor;
      color: white;
      font-size: 17px;
      border: 0px;
      border-left: none; /* Prevent double borders */
      cursor: pointer;
      &:hover {
        background: $brownDarkColor;
      }
    }
  }
  .sec-socialMedia {
    position: absolute;
    bottom: 15rem;
    right: 6rem;
    z-index: 10;
    i {
      font-size: 2.5rem;
      margin-top: 3rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .view-btn {
    position: absolute;
    bottom: 34%;
    z-index: 10;
    margin-left: 4rem;
    padding: 1.5rem 5rem;
    border: none;
    background-color: $brownDarkColor;
    box-shadow: 0px 20px 30px -10px #57452a; /* #26394d */
    color: white;
    border: 2.5px solid $brownDarkColor;
    transition: 0.5s;
    &:hover {
      cursor: pointer;
      background-color: white;
      color: $brownDarkColor;
      box-shadow: 0px 0px 0px 0px transparent;
    }
  }

  h2,
  .positive {
    position: absolute;
    z-index: 10;
  }
  h2 {
    right: 20%;
    bottom: 48%;
  }
  .positive {
    right: 37%;
    color: white;
    font-size: 2rem;
    background-color: $brownLightColor;
    padding: 1.8rem 2.4rem;
    opacity: 0.7;
    border-radius: 60%;
    bottom: 45%;
  }
  .border-line {
    border: 1px solid $brownDarkColor;
    width: 8%;
    z-index: 15;
    position: absolute;
    bottom: 48.5%;
    right: 28%;
  }
  .p-skin {
    position: absolute;
    z-index: 10;
    bottom: 40%;
    font-size: 1.5rem;
    right: 8.5%;
    width: 18%;
    line-height: 2.2rem;
  }
}
img {
  position: relative;
}
