.sec-lenders {
  background-color: $pinkLightColor;
  padding: 4rem 0;
  h1 {
    text-align: center;
    font-size: 2.8rem;
  }
  ul {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    /* width: 80%;
    display: flex;
    justify-content: space-around; */
  }
  .resize-logo {
    width: 140px;
    margin-right: 6rem;
  }
}
