.sec-provide {
  display: flex;
  justify-content: flex-end;
  padding: 8rem 0;
  .bg-img {
    width: 500px;
    height: 596px;
    z-index: 10;
    background-color: #edd9cb;
    position: relative;
    margin-right: 10rem;

    img {
      z-index: 20;
      position: absolute;
      right: -4rem;
      top: -4rem;
    }
  }

  .sec-1 {
    width: 50%;
    /* margin-right: -5rem; */
    h1 {
      font-size: 5rem;
      font-weight: 100;
      margin-top: 8rem;
      /* margin-left: 10rem; */
    }
    p {
      font-size: 2rem;
      /* margin-left: 10rem; */
      line-height: 3rem;
      /* padding-right: 15rem; */
      width: 80%;
      margin-top: 4rem;
    }

    .Read-btn {
      color: black;
      background-color: white;
      margin-top: 4rem;
      padding: 2rem 4rem;
    }
    .view-btn {
      margin-top: 4rem;
      padding: 1.3rem 4rem;
      background-color: $brownDarkColor;
      color: white;
      margin-right: 5rem;
      box-shadow: 0px 20px 30px -10px #57452a; /* #26394d */
      border: 2.5px solid $brownDarkColor;
      transition: 0.5s;
      &:hover {
        cursor: pointer;
        background-color: white;
        color: $brownDarkColor;
        box-shadow: 0px 0px 0px 0px transparent;
      }
    }
    .num-percent {
      display: flex;
      justify-content: flex-start;
      .sec-num {
        margin-right: 6rem;
      }
      /*  width: 50%; */
      margin-top: 3rem;
      .num-title {
        font-size: 3rem;
        color: #2b555e;
        font-weight: bold;
      }
      .hr {
        width: 30%;
      }
      .num-paragraph {
        font-size: 1.5rem;
      }
    }
  }
}
