@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rosario&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap%27");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
}

li {
  font-size: 1.6rem;
  text-align: center;
}
